#
# Some sane exports
#

if [[ $COLORTERM = gnome-* && $TERM = xterm ]] && infocmp gnome-256color >/dev/null 2>&1; then
  export TERM=gnome-256color
elif infocmp xterm-256color >/dev/null 2>&1; then
  export TERM=xterm-256color
fi

#
# PyEnv
# https://github.com/pyenv/pyenv#set-up-your-shell-environment-for-pyenv
#
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

#
# MacPorts Installer addition on 2011-12-01_at_23:41:50: adding an appropriate PATH variable for use with MacPorts.
#
export PATH="/opt/local/bin:/opt/local/sbin:$PATH"

#
# Make npm then homebrew the priority for all executables before npm
#
export PATH="$HOME/.local/bin:/usr/local/bin:/usr/local/sbin:$HOME/bin:$PATH"

#
# Export the local .scripts dir
#
export PATH=$HOME/.scripts:$PATH

#
# Nope. Nope. Nope.
# https://scarf.sh/
#
export SCARF_ANALYTICS=false

#
# React Native development on Android
#
export ANDROID_HOME=~/Library/Android/sdk
export PATH=~/Library/Android/sdk/tools:~/Library/Android/sdk/platform-tools:$PATH

#
# RUBY FOR THE RUBY GODS
#
export PATH="/opt/homebrew/opt/ruby/bin:$PATH"

#
# GO FOR THE GO GODS
# 
export PATH="$HOME/go/bin:$PATH"
