#
# Some sane exports
#

if [[ $COLORTERM = gnome-* && $TERM = xterm ]] && infocmp gnome-256color >/dev/null 2>&1; then
  export TERM=gnome-256color
elif infocmp xterm-256color >/dev/null 2>&1; then
  export TERM=xterm-256color
fi

#
# MacPorts Installer addition on 2011-12-01_at_23:41:50: adding an appropriate PATH variable for use with MacPorts.
#
export PATH="/opt/local/bin:/opt/local/sbin:$PATH"

#
# Make npm then homebrew the priority for all executables before npm
#
export PATH="$HOME/.local/bin:/usr/local/bin:/usr/local/sbin:$HOME/bin:$PATH"

#
# Export the local .scripts dir
#
export PATH=$HOME/.scripts:$PATH

#
# Set jitsu env variables
#
if [ -z "$JITSU_ENV" ]; then
  export JITSU_ENV="production"
fi

#
# React Native development on Android
#
export ANDROID_HOME=~/Library/Android/sdk
export PATH=~/Library/Android/sdk/tools:~/Library/Android/sdk/platform-tools:$PATH
