#
# Some aliases
#
alias nodep='ps axl | grep node'
alias sourcep='source ~/.profile'

# a friendlier delete on the command line
alias emptytrash="find $HOME/.Trash -not -path $HOME/.Trash -exec rm -rf {} \; 2>/dev/null"

# github
alias gh=". ghi"
alias cat="ccat"

# cwd in node. pwd on Linux.
alias cwd="pwd"

# git
alias gaa="git add ."
alias gci="git commit"
alias gap="git add -p"
alias gst="git status"
alias gti="git"
alias gita="git pull origin master && git fetch"

# make
alias maek="make"
alias meak="make"
alias meak="make"

# ssh
alias ssht="ssh -f -N -D 9999 -C"
